In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_json('data/ETH_USDT_USDT-1h-futures.json')
df = df.rename(columns={0: 'timestamp', 1: 'open', 2: 'high', 3: 'low', 4: 'close', 5: 'volume'})

In [5]:
df

           timestamp     open     high      low    close      volume
0      1609459200000   737.18   740.00   730.00   734.60   98092.526
1      1609462800000   734.61   750.40   734.00   749.33  164084.062
2      1609466400000   749.37   750.40   743.23   745.15   78520.671
3      1609470000000   745.15   748.44   744.29   745.88   40294.566
4      1609473600000   745.90   748.04   740.41   743.40   58066.061
...              ...      ...      ...      ...      ...         ...
21514  1686909600000  1669.64  1671.00  1667.07  1669.94   48531.735
21515  1686913200000  1669.93  1671.15  1662.25  1663.77  134940.178
21516  1686916800000  1663.77  1668.96  1663.18  1666.55   73173.179
21517  1686920400000  1666.54  1672.89  1661.83  1662.59  107619.807
21518  1686924000000  1662.60  1677.50  1644.65  1670.68  315946.522

[21519 rows x 6 columns]